<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:aop="http://www.springframework.org/schema/aop"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    
    <bean id="operateLogAdvice" class="com.lxq.platform.aop.OperateLogAdvice" />
    <aop:config>
        <aop:advisor id="operateLogAdvisor" advice-ref="operateLogAdvice"
              pointcut="              
              	execution(* com.lxq.platform.service.impl.BaseServiceImpl..*(*,*,String,String))
              " />
    </aop:config>
    
    <bean id="privilegeControlAdvice" class="com.lxq.platform.aop.PrivilegeControlAdvice">
   		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>	
    <aop:config>
        <aop:advisor id="privilegeControlAdvisor" advice-ref="privilegeControlAdvice"
              pointcut="              
              	execution(* com.lxq.platform.service.impl.BaseServiceImpl..*(*,*,String,String))
              " />
    </aop:config>
    
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">   
	     <property name="driverClass" value="com.mysql.jdbc.Driver"/>   
	     <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/pamsdb?useUnicode=true&amp;characterEncoding=UTF-8"/>   
	     <property name="user" value="root"/>   
	     <property name="password" value="root"/>   
	     <property name="initialPoolSize" value="10"/>
	     <property name="minPoolSize" value="5"/>
	     <property name="maxPoolSize" value="30"/>
	     <property name="acquireIncrement" value="5"/>
	     <property name="maxIdleTime" value="10"/>
	     <property name="maxStatements" value="10"/>
	     <property name="testConnectionOnCheckout" value="true"/>
	     
	</bean> 

	<!-- 配置sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.jdbc.fetch_size">80</prop>
				<prop key="hibernate.jdbc.batch_size">35</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/lxq/platform/systemManage/pojo/CodeCatalog.hbm.xml</value>
				<value>com/lxq/platform/systemManage/pojo/CodeLibrary.hbm.xml</value>
				<value>com/lxq/platform/systemManage/pojo/Menu.hbm.xml</value>
				<value>com/lxq/platform/systemManage/pojo/Notice.hbm.xml</value>
		
				<value>com/lxq/platform/userManage/pojo/Department.hbm.xml</value>
				<value>com/lxq/platform/userManage/pojo/Group.hbm.xml</value>
				<value>com/lxq/platform/userManage/pojo/Privilege.hbm.xml</value>
				<value>com/lxq/platform/userManage/pojo/Role.hbm.xml</value>
				<value>com/lxq/platform/userManage/pojo/User.hbm.xml</value>

				<value>com/lxq/platform/goalManage/pojo/ApprovePostil.hbm.xml</value>
				<value>com/lxq/platform/goalManage/pojo/DateBatch.hbm.xml</value>
				<value>com/lxq/platform/goalManage/pojo/PerformanceGoal.hbm.xml</value>
				
			</list>
		</property>
	</bean>

	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<!-- 事务代理拦截器的配置 -->
	<bean id="baseTransactionProxy" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
				<!-- 
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
				 -->
			</props>
		</property>
	</bean>
	
	<!-- 配置HibernateTemplate -->
	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="baseDAO" class="com.lxq.platform.dao.hibernateImpl.BaseDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	
	<bean id="baseService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.lxq.platform.service.impl.BaseServiceImpl">
				<property name="baseDAO">
					<ref bean="baseDAO" />
				</property>
			</bean>
		</property>
	</bean>

	<bean id="userService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.lxq.platform.userManage.service.impl.UserServiceImpl">
				<property name="baseDAO">
					<ref bean="baseDAO" />
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="goalService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.lxq.platform.goalManage.service.impl.GoalServiceImpl">
				<property name="baseDAO">
					<ref bean="baseDAO" />
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="baseAction" class="com.lxq.platform.action.BaseAction">
		<property name="baseService">
			<ref bean="baseService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
	<bean id="utilAction" class="com.lxq.platform.action.UtilAction">
		<property name="baseService">
			<ref bean="baseService" />
		</property>
	</bean>

	<bean id="testAction" class="com.lxq.platform.action.TestAction">
	</bean>
	
	<bean id="loginAction" class="com.lxq.platform.userManage.action.LoginAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
	<bean id="goalApplyAction" class="com.lxq.platform.goalManage.action.GoalApplyAction">
		<property name="goalService">
			<ref bean="goalService" />
		</property>
	</bean>
	
	<bean id="goalApproveAction" class="com.lxq.platform.goalManage.action.GoalApproveAction">
		<property name="goalService">
			<ref bean="goalService" />
		</property>
	</bean>
	
	<bean id="goalSendAction" class="com.lxq.platform.goalManage.action.GoalSendAction">
		<property name="goalService">
			<ref bean="goalService" />
		</property>
	</bean>
	
</beans>